# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe

# Build directories
build/
bin/

# IDE specific files
.vscode/
.idea/

# Dependency directories
vendor/